*{  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}
html{
  scroll-behavior: smooth;
}

body{
  font-family: "cairo","open sans","sans-serif";
  counter-reset: services;
}

:root{
  --main-color:#5D5DC2;
  --gray-background:#ECECEC;
  --secondery-color:#2C4755;
  --transparent-color:rgb(15,116,143,50%);
  --facebook-color:#1877F2;
  --twitter-color:#2AA9E0 ;
  --linkedin-color:#014588 ;
  --overlay-color: rgb(0, 0, 0, .7);
   counter-increment: services;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.mypage{
  width: 100%;
  max-height: 100vh;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.container .aside{
  width: 400px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
  border-right: 1px solid #ccc;
  background-image: url(/images/IMG_20221113_163521_511.jpg);
  background-repeat: none;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1;
}
@media (max-width: 991px) {
  .container {
    flex-direction: column;
  }
  .container .aside{
    color: #000;
    width: 100%;
    max-height: 400px;
    background: none;
    border-right:none;
  }
}

.container .aside::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--overlay-color);
  z-index: -1;

}
@media (max-width: 991px) {
  .container .aside::after{
    background: none;
  }
}
.aside .image{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.aside .image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.aside p{
  color: #aaa5a5;
  width: 100%;
  line-height: 1.3;
  margin: 20px 0;
}


.aside .links{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aside .links a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  width: fit-content;
  transition:.3s;
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
}
@media (max-width: 991px) {
  .aside .links a{
    color: #000;
  }
}
.aside .links a:hover{
  color: var(--main-color);
}
.aside .links a::after{
  position:absolute;
  content: "";
  left: 0;
  bottom: -5px;
  opacity: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  transition:.3s;
}
.aside .links a:hover::after{
opacity: 1;
}

.aside .icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  width: 50%;
  margin: 30px 0;
 
}
.aside .icons div{
  margin: 3px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.aside .icons div:hover i{
  color: var(--main-color);
}

.aside p:last-of-type{
  margin: auto auto 8px 8px;
}


.container .content{
  width: 65%;
  align-self: flex-end;
}

.container .content .cards{
 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
 gap: 20px;
} 
.container .content .cards .card{
  height: 90vh;
  width: 350px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.2rem 0.5rem 0.3rem rgb(0 0 0 / 4%);
}
@media (max-width: 991px) {
  .container .content{
    margin-top: 50px;
    width: 100%;
  }
  .container .content .cards .card{
    width: 100%;
    height: auto;
  }
}
.card .card-content{
  padding: 10px;
  height: 100%;
  position: relative;
}
.container .content .cards .card .image{
  width:100%;
}
.container .content .cards .card .image img{
  width: 100%;
}

.container .content .cards .card .date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}
.container .content .cards .card .date p{
  color: #888888;
}

.container .content .cards .card .title {
  margin: 20px 0;
  text-align: right;
}
.container .content .cards .card .title a{
  font-size: 32px;
  color: #000;
}
.container .content .cards .card .title a:hover{
  text-decoration: underline;
}
.container .content .cards .card .date a{
  background-color: var(--main-color);
  color: #fff;
  padding: 4px 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.container .content .cards .card .desc{
  color: #888888;
  margin-bottom:10%;
  margin-top: 10%;
}
@media (max-width: 767px) {
  .container .content .cards .card .date p,.container .content .cards .card .date{
    font-size:18px;
  }
  .container .content .cards .card .desc{
    font-size:18px;
    margin-bottom:5%;
    margin-top: 5%;
  }
}
.container .content .cards .card .read{
  font-size: 20px;
  color: var(--main-color);
  position: absolute;
  left: 8px;
  bottom: 8px;
}

/* ******************** */

.container .content .buttons{
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
  font-size: 40px;
  /* color: #1877F2; */
}
.container .content .buttons a:first-of-type i{
  color:var(--overlay-color);
  position: relative;
  transition: .2s;
}
.container .content .buttons a:last-of-type i{
  color:var(--overlay-color);
  position: relative;
  transition: .2s;
}

.active{
  color: var(--main-color);
}
.container .content .buttons a i:hover{
  color:orange;
}

.container .content .buttons a:first-of-type i::after,
.container .content .buttons a:last-of-type i::after{
  position: absolute;
  font-size: 18px;
  text-transform: lowercase;
  bottom: -20px;
  letter-spacing: 2px;
  left: 50%;
  transform: translate(-50%);
}

.container .content .buttons a:first-of-type i::after{
  content: "prev";
}
.container .content .buttons a:last-of-type i::after{
  content: "next";
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* small phones */

  /* Small */

  @media (min-width: 768px) {
    .container{
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container{
      width: 1170px;
    }
  }


